@import "tailwindcss";

@layer base {
  body {
    @apply font-rubik;
  }
}

/* Prevent auto-zoom on input-fields in iOS Safari */
input,
select,
textarea {
  font-size: 16px;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --breakpoint-xs: 25rem;

  --font-rubik: Rubik, sans-serif;

  /* Default theme primary color */
  --color-primary: #AEDCAE;

  /* Default theme secondary color */
  --color-secondary: #A3A3A3;

  /* Default theme tertiary, color */
  --color-tertiary: #1E3A8A;

  --color-primary-bg: #FCFBF4;

  --color-primary-text: #262626;
}

@layer components {

  .section-header {
    @apply text-xl xs:text-2xl md:text-3xl font-bold text-primary-text
  }

  .main-header {
    @apply text-lg lg:text-xl font-semibold text-primary-text
  }

  .sub-header {
    @apply text-[17px] font-semibold text-primary-text
  }

  .label {
    @apply text-base font-medium text-primary-text
  }

  .input-text {
    @apply border rounded border-primary-text text-primary-text w-full px-1
  }

  .dropdown-text {
    @apply border rounded border-primary-text text-primary-text w-full px-1 appearance-none shadow-sm
  }

  .output-text {
    @apply text-base text-primary-text border rounded border-transparent
  }

  .primary-button {
    @apply w-full mx-auto px-4 my-2 rounded border-2 border-primary bg-primary text-primary-text font-medium hover:border-primary-text disabled:opacity-50 disabled:hover:border-primary
  }

  .section-form {
    @apply w-full flex flex-col items-center space-y-2
  }
}



@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out-to-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-out-to-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}


@layer utilities {

  /* Hides scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }

  html,
  body {
    scrollbar-width: none;
  }

  html,
  body {
    -ms-overflow-style: none;
  }

  /* Hide the input arrows on number fields for iOS Safari*/
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -webkit-appearance: textfield;
    appearance: textfield;
  }

  input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .animate-slide-in-from-right {
    animation: slide-in-from-right 300ms ease-out forwards;
  }

  .animate-slide-in-from-left {
    animation: slide-in-from-left 300ms ease-out forwards;
  }

  .animate-fade-in {
    animation: fade-in 500ms ease-in-out forwards;
  }

  .animate-slide-out-to-left {
    animation: slide-out-to-left 300ms ease-out forwards;
  }

  .animate-slide-out-to-right {
    animation: slide-out-to-right 300ms ease-out forwards;
  }
}